.zaman {
    display: flex;
    justify-content: space-between;
    margin: 150px;
    color: rgb(89, 0, 255);
}
.zaman div{
    font-size: 50px;
    color: rgb(0, 139, 23);
    margin: 15px;
}

.info{
    display: flex;
    max-width: 400px;
    margin-left: 20px;
    left: 48%;
    top: 45%;
    color: blueviolet;  
}
body{
    background-color: rgb(36, 36, 56);
}
